/* variáveis */
:root{                                               /* seletor de estado ':', estado natural 'root' */
    --backgroundColor: #f0f0f0;
    --cardColor: #fff;
    --fontColor: #3b3b3b;
    --shadowColor: rgba(0, 0, 0, 0.2);
}

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

/* reset */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* estilos básicos */
*{
    font-family: 'Lato', sans-serif;
    color: var(--fontColor);
}

body{
    background-color: var(--backgroundColor);
}

article{
    background-color: var(--cardColor);
    box-shadow: 0 0 10px var(--shadowColor);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

article img{ /* cada imagem dentro de um article */
    width: 50%;
}

/* mobile */
*{
    font-size: 20pt;
}

/* outros tamanhos */
@media only screen and (min-width: 920px){
    *{
        font-size: 14pt;
    }

    body{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    article{
        width: 30%;
    }
}